name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag kdcproxy:$(date +%s)
    - uses: actions/delete-package-versions@v5
      with: 
        package-type: 'docker'
        min-versions-to-keep: 10
